<h1>Welcome to our Page</h1>
<p>This is the main page, with the list being printed out,
	corresponding to the interface 1 in interfaces channel in slack </p>

<a href= "posts">Add your food here</a>
<%#link_to ('Add your food here', {:action => 'interface2 '}) %> <br />

<%= link_to 'Visit Your List', posts_path %>
