<h1>Welcome to our Page</h1>
<p>This is the main page, with the list being printed out,
	corresponding to the interface 1 in interfaces channel in slack </p>


<%= link_to 'Add Items Here', new_post_path %> <br />

<%= link_to 'Visit Your List', posts_path %>
